# Dependencies
node_modules/

# Environment / secrets
.env
.env.*
Untitled

# Logs
*.log
npm-debug.log*

# OS files
.DS_Store

# Editor
.vscode/
.idea/

# TypeScript build output
dist/
build/
*.tsbuildinfo
